@import 'variables';

.btn-primary{
    padding: 23px 30px !important;
    background-color: $primary-color !important;
    border-color: $primary-color !important;
    font-size: 20px !important;
    line-height: 24px;
    font-weight: 600 !important;
    border-radius:4px !important;

    &:hover{
        background-color: $primary-color-hover !important;
        border-color: $primary-color-hover !important;
    }
}

.btn-secondary{
    padding: 23px 30px !important;
    background-color: $secondary-color !important;
    border-color: $secondary-color !important;
    font-size: 20px !important;
    line-height: 24px;
    font-weight: 600 !important;
    border-radius:4px !important;
    color: $color !important;

    &:hover{
        background-color: $secondary-color-hover !important;
        border-color: $secondary-color-hover !important;
    }
}