// SCSS code for acf_blocks/cta-with-image component
@import "../../assets/scss/variables";

.acf-blocks-cta-with-image {
    background-color: $yellow-l;
    padding-block: 50px;

    .cta-container {
        .row{
            min-height: 600px;
        }

        .content{
            h2{
                color: $primary-color-hover;
                font-size: 65px !important;
                line-height: 72px !important;
                font-weight: 900;
                @media (max-width: 1200px) {
                    font-size: 44px !important;
                    line-height: 48px !important;
                }
                @media (max-width: 768px) {
                    font-size: 36px !important;
                    line-height: 40px !important;
                }
            }

            h3{
                color: $primary-color-hover;
            }

            p{
                color: $color;
                width: 90%;
            }

            a{
                padding:23px 30px  !important;
            }
        }


    }
}