// SCSS code for hep/site_footer component
@use "../../assets/scss/variables" as *;

.celeratewpcss-site-footer {
    background-color: $bg-base-dark-color;
    color: $dark-light;
    padding-top: 40px;
    li{
        padding: 8px;
        a{
            font-size:20px;
            line-height: 24px;
            color: $dark-light;
            font-weight: 700;
        }

        a:hover{
            color: $grey;
        }
    }

    .btn-secondary{
        width: 140px !important;
        max-width: 100% !important;
        padding: 15px 15px !important;
    }

    .copy{
        min-height: 50px;
        align-items: center;
        .copyright{
            color:white;
            font-size:13px !important;
            line-height: 20px;
            font-weight: 700 !important;
            margin-bottom: 0 !important;
        }
    }

    

    .terms {
        align-items: center;
        min-height: 50px;
        li{
            border-right: 1px solid;
            height: 20px !important; 
            padding-right: 20px !important;
        }
        li:last-child{
            border-right: none;
        }
        a{
            color:white;
            font-size:13px !important;
            height: 20px !important; 
            margin-top: -16px !important;
            line-height: 20px;
            &:hover{
                color: $grey;
            }
        }
}
}