// SCSS code for hep/site_footer component
@import '../../assets/scss/_variables';

.celeratewpcss-site-footer {
    background-color: $bg-base-dark-color;
    color: $text-base-light-color;
    padding-block: 40px;

}