@use "../../../assets/scss/variables" as *;

.acf-blocks-text-with-image {
    padding-block: 100px;
    &.alternative-style{
        background-color: $blue-l;
    }
    .content{
        h2{
            font-size:48px;
            line-height:56px;
            font-weight:900;
            color:$primary-color-hover;
            @media (max-width: 1200px) {
                font-size: 44px !important;
                line-height: 48px !important;
            }
            @media (max-width: 768px) {
                font-size: 36px !important;
                line-height: 40px !important;
            }
        }

        h3{
            color: $color;
        }

        li{
            
        }

        
    }

    .arrow-list li {
        position: relative;
        padding-left: 26px;
        margin-bottom: 10px;
        font-size: 18px !important;
        line-height: 28px !important;
        font-weight: 400 !important;
        margin-left: 20px;
        margin-top:14px;
        color:$light-gray;
    }
    .arrow-list li::before {
        font-family: 'Font Awesome 5 Free';
        content: "\f054";          /* › */
        position: absolute;
        left: 0;
        top: 0;
        font-size: 14px;
        color: $primary-color;
        font-weight: 700;
    }
    img{
        @media (max-width: 768px) {
            padding-bottom:30px;
        }
    }
}