@import '../../../assets/scss/variables';

.celeratewpcss-header {
    background-color: $bg-color;
    border-bottom: 1px solid rgba(0, 0, 0, 0.25);
    position: relative;
    z-index: 10;

    

    
}
