// SCSS code for acf_blocks/hero-banner-top component

@import '../../assets/scss/_variables';


.acf-blocks-hero-banner-top {
    .hero-container {
        .row{
            min-height: 600px;
        }

        .content{
            h1{
                color: $white;
                font-size: 65px !important;
                line-height: 72px !important;
                font-weight: 900;
            }

            p{
                color: $white;
            }

            a{
                padding:23px 30px  !important;
            }
        }


    }
    
}