// SCSS code for acf_blocks/hero-banner-top component

@use "../../../assets/scss/variables" as *;


.acf-blocks-hero-banner-top {
    .hero-container {
        .row{
            padding-block:70px;
        }

        .content{
            h1{
                color: $white;
                font-size: 65px !important;
                line-height: 72px !important;
                font-weight: 900;
                @media (max-width: 1200px) {
                    font-size: 44px !important;
                    line-height: 48px !important;
                }
                @media (max-width: 768px) {
                    font-size: 36px !important;
                    line-height: 40px !important;
                }
            }

            p{
                color: $white;
            }

            a{
                padding:23px 30px  !important;
            }
        }


    }
    
}